@import './custom_variables.scss';

/* required for reactstrap */
/* Import Bootstrap and its default variables */
@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: 'Work Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary;
  color: $secondary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.dark {
  background-color: $primary !important;
  color: $secondary !important;
}

.light {
  background-color: $secondary !important;
  color: $primary !important;
}

.container-fullpage-h {
  height: 100vh;
}

.container-fullpage-w {
  width: 100vw;
}
